[submodule "spring-boot-1/java-benchmarks"]
	path = spring-boot-1/java-benchmarks
	url = https://github.com/pascal-lab/java-benchmarks
[submodule "spring-boot-2/java-benchmarks"]
	path = spring-boot-2/java-benchmarks
	url = https://github.com/pascal-lab/java-benchmarks
[submodule "spring-boot-3/java-benchmarks"]
	path = spring-boot-3/java-benchmarks
	url = https://github.com/pascal-lab/java-benchmarks
